@keyframes SlideUp {
    from{
        top: 100%;
    }
    to{
        top: 90%;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: aquamarine;
}

#map {
    height: 100%;
    cursor: pointer;
}

nav {
    width: 40%;
    height: 50px;
    font-size: 16pt;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 1;
    border-radius: 20px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

#reset {
    color: rgb(66, 117, 244);
}

#sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    transition: .3s 0s ease-in;
    z-index: 1;
}

.side-hidden {
    transform: translateX(-80%);
}

.side-active {
    transform: translateX(0%);
}

#categories {
    width: 80%;
    height: 100%;
    box-shadow: 1px 1px 5px 2px rgb(66, 117, 244);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar button {
    outline: none;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

#open-arrow {
    height: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(66, 117, 244);
    font-size: 150pt;
    box-sizing: border-box;
    outline: none;
}

#reset {
    cursor: pointer;
    font-weight: 700;
}

.alert{
    position: fixed !important;
    top: 90%;
    z-index: 1;
    animation: SlideUp .5s cubic-bezier(.46,.08,.39,.99);
}

.categories-title{
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 1px 1px 7px rgb(66, 117, 244);
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

select{
    width: 80%;
    height: 40px;
    font-weight: 700;
    font-size: 13pt !important;
    border: 2px groove rgb(66, 117, 244);
    outline: none;
    border-radius: 10px;
    margin: 20px 0px !important;
    padding: 0px 10px;
}

#search{
    width: 50%;
    height: 40px;
    font-weight: 700;
    font-size: 16pt;
    margin: 20px 0px;
    text-transform: uppercase;
    justify-content: center;
    color: rgb(66, 117, 244);
    position: relative;
}